upstream rok4server { server middle:9000; }
                                               
server {
    listen 80 default_server;

    location / {
        fastcgi_pass rok4server;
        include fastcgi_params;
    }
}